---
import Layout from "../layouts/Layout.astro";
import GameBoy from "../components/Console/GameBoy.astro";
---

<Layout title="Game Boy Camera Studio">
	<main class="flex items-center justify-center p-4 w-full h-full">
		<GameBoy />
	</main>
</Layout>
